<?xml version="1.0"?>
<launch>

  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="frame_rate" default="10"/>
  <arg name="use_rqt" default="true"/>

  <arg name="use_image" default="true"/>

  <node name="nodelet_manager" pkg="nodelet" type="nodelet"
        args="manager" output="screen"
        ns="image_source" >
    <!-- this should be read in the private namespace, image_publisher needs to be fixed -->
    <param name="publish_rate" value="0.5"/>
  </node>

  <group if="$(arg use_image)">
  <node pkg="nodelet" type="nodelet"
    name="image_source"
    args="load image_publisher/image_publisher image_source/nodelet_manager">
    <param name="filename" value="$(find image_manip)/data/lava.jpg"/>
    <!-- this is where the param ought to be read, but image_publisher isn't
      reading it from its private namespace -->
    <param name="publish_rate" value="0.5"/>
  </node>

  <node pkg="nodelet" type="nodelet"
    name="background_image_source"
    args="load image_publisher/image_publisher image_source/nodelet_manager">
    <param name="filename" value="$(find image_manip)/data/mosaic.png"/>
    <param name="publish_rate" value="0.5"/>
  </node>

  <group ns="background_image_source">
    <group ns="image_raw">
    <!-- http://answers.ros.org/question/255970/how-to-deactivate-image_transport-plugins/ -->
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressed'
      - 'image_transport/compressedDepth'
      - 'image_transport/ffmpeg'
      - 'image_transport/theora'
    </rosparam>
    </group>
  </group>
  </group>  <!-- use_image -->

  <group ns="image_source">
    <group ns="image_raw">
    <!-- http://answers.ros.org/question/255970/how-to-deactivate-image_transport-plugins/ -->
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressed'
      - 'image_transport/compressedDepth'
      - 'image_transport/ffmpeg'
      - 'image_transport/theora'
    </rosparam>
    </group>

    <node pkg="nodelet" type="nodelet"
        name="resize0"
        args="load image_manip/Resize nodelet_manager"
        output="screen">
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <param name="width" value="$(arg width)"/>
      <param name="height" value="$(arg height)"/>
      <remap from="image_in" to="image_raw"/>
      <remap from="image_out" to="resized"/>
    </node>

    <node pkg="nodelet" type="nodelet"
        name="roto_zoom0"
        args="load image_manip/RotoZoom nodelet_manager"
        output="screen">
      <param name="frame_rate" value="$(arg frame_rate)"/>
      <remap from="image_in" to="resized"/>
      <remap from="background_image" to="/background_image_source/image_raw"/>
      <remap from="image_out" to="rotated"/>
    </node>

  </group>
  <node name="rqt_generic" pkg="rqt_gui" type="rqt_gui"
      args="--perspective-file $(find image_manip)/config/rotozoom.perspective"
      output="screen"
      if="$(arg use_rqt)">
  </node>

</launch>
